{% extends "organizers/organizer_area/base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'organizers/css/organizer_area/new_field.css' %}">
{% endblock %}
{% block content %}
<h1 class="form-title">Registre seu Campo!</h1>
<form class="form-container">
    <div class="grid-container col-span-2">
        <label for="nome do campo">Nome do Campo</label>
        <input class="text-input" type="text" name="" id="nome do campo">
    </div>
    <div class="grid-container type-container">
        <div name="container-select" class="container-select">
            <label for="field-type">Tipo de Campo</label>
            <div name="container-input" class="container-input">
                <input name="trigger-select" type="text" id="field-type" class="input readonly-field" readonly
                    placeholder="Selecione">
            </div>
            <div name="options-select" id="field-type-options" class="options"></div>
        </div>
    </div>
    <div class="grid-container col-span-2">
        <label for="endereço">Endereço</label>
        <input class="text-input" type="text" name="" id="endereço">
    </div>
    <div class="grid-container">
        <label for="telefone">Telefone</label>
        <input class="text-input" type="text" name="" id="telefone">
    </div>
    <div class="grid-container">
        <div name="container-select" class="container-select">
            <label for="state">Estado</label>
            <div name="container-input" class="container-input">
                <input name="trigger-select" type="text" id="filter-state" class="input readonly-field" readonly
                    placeholder="Selecione">
            </div>
            <div name="options-select" class="search-container" id="search-state-container">
                <input type="text" id="search-state" class="search-input" placeholder="Digite o Estado..."
                    autocomplete="off">
                <div id="state-options" class="search-options"></div>
            </div>
        </div>
    </div>
    <div class="grid-container">
        <div name="container-select" class="container-select">
            <label for="city">Cidade</label>
            <div name="container-input" class="container-input">
                <input name="trigger-select" type="text" id="filter-city" class="input readonly-field" readonly
                    placeholder="Selecione" disabled>
            </div>
            <div name="options-select" class="search-container" id="search-city-container">
                <input type="text" id="search-city" class="search-input" placeholder="Digite a cidade..."
                    autocomplete="off">
                <div id="city-options" class="search-options"></div>
            </div>
        </div>
    </div>
    <div class="grid-container">
        <label for="horário de funcionamento">Horário de Funcionamento</label>
        <input class="text-input" type="text" name="" id="horário de funcionamento">
    </div>
    <div class="grid-container col-span-2 row-span-2">
        <label for="descrição">Descrição</label>
        <textarea name="" id="descrição"></textarea>
    </div>
    <div class="grid-container row-span-2">
        <label for="fotos do campo">Fotos do Campo</label>
        <input class="field-image" type="image" name="" id="fotos do campo">
    </div>
</form>
{% endblock %}
{% block javascript %}
<script src="{% static 'js/common_functions.js' %}"></script>
{% endblock %}