.filter-bar {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    gap: 1rem;
    background-color: var(--filter-bg);
    padding: 1.5rem;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #000;
}

.filter-group {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 150px;
}

.container-input{
    display: flex;
    align-items: center;
}

.clear-input-button{
    position: absolute;
    right: 0.75rem;
    background: none;
    width: 1.5rem;
    height: 1.5rem;
    border: none;
    border-radius: 100%;
}

.clear-input-button:hover{
    cursor: pointer;
    background-color: var(--light-gray);
}

.applied-filters-container {
    min-height: 2rem;
    display: flex;
    gap: 1rem;
    width: 100%;
    align-items: left;
}

.applied-filter {
    font-family: 'Poppins';
    font-weight: 500;
    border: none;
    cursor: pointer;
    background-color: #f3f3f3;
    border-radius: 25px;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}

.applied-filter i{
    margin-left: 0.5rem;
}

.applied-filter:hover{
    opacity: 75%;
}

.btn-search {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: background-color 0.3s;
    height: 4rem;
    width: 4rem;
    align-self: flex-end;
}

.btn-search:hover {
    background-color: var(--hover-blue-color);
}

.fields-container {
    width: 50%;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.map-placeholder {
    background-color: #a0a0a0;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}
