{% extends 'organizers/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'organizers/css/auth.css' %}">
{% endblock %}
{% block title %}
Cadastro
{% endblock %}
{% block content %}
<form id="signUp-form" action="{% url 'signUp' %}" method="POST">{% csrf_token %}
    <div class="form-title-container">
        <h2 class="form-title">
            Cadastro para Organizadores
        </h2>
    </div>
    <div class="form-group">
        <label for="signUp-username">Nome de usuário</label>
        <input {% if errors.required_username %} class="border-error" {% endif %} placeholder="Ex.: João Silva" id="signUp-username" name="signUp-username" type="text" value="{{ username|default:'' }}">
        {% if errors.required_username %}
        <span class="error">{{ errors.required_username }}</span>
        {% endif %}
    </div>
    <div class="form-group">
        <label for="signUp-email">E-mail</label>
        <input {% if errors.required_email %} class="border-error" {% endif %}placeholder="exemplo@email.com" id="signUp-email" name="signUp-email" type="email" value="{{ email|default:'' }}">
        {% if errors.required_email %}
        <span class="error">{{ errors.required_email }}</span>
        {% endif %}
    </div>
    <div class="form-group">
        <label for="signUp-password">Senha</label>
        <input {% if errors.required_password %} class="border-error" {% endif %} placeholder="Digite uma senha" id="signUp-password" name="signUp-password" type="password">
        {% if errors.required_password %}
        <span class="error">{{ errors.required_password }}</span>
        {% endif %}
    </div>
    <div class="btn-container">
        <button id="signUp-btn" class="btn-submit" type="submit">Enviar</button>
    </div>
    <div class="bottom-container">
        Já possui uma conta?<a class="link" href="{% url 'signIn' %}">Entrar</a>
    </div>
</form>
{% endblock %}