{% extends 'organizers/auth_base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'organizers/css/auth.css' %}">
{% endblock %}
{% block title %}
Login
{% endblock %}
{% block content %}
<form id="signIn-form" action="{% url 'signIn' %}" method="POST">{% csrf_token %}
    <div class="form-title-container">
        <h2 class="form-title">
            Login para Organizadores
        </h2>
    </div>
    <div class="form-group">
        <label for="signIn-username">Nome de usuário</label>
        <input placeholder="Ex.: João Silva" id="signIn-username" name="signIn-username" {% if errors.required_username %} class="border-error" {% endif %} type="text" value="{{ username|default:'' }}">
        {% if errors.required_username %}
        <span class="error">{{ errors.required_username }}</span>
        {% endif %}
    </div>
    <div class="form-group">
        <label for="signIn-password">Senha</label>
        <input placeholder="Digite sua senha" id="signIn-password" name="signIn-password" {% if errors.required_password %} class="border-error" {% endif %} type="password">
        {% if errors.required_password %}
        <span class="error">{{ errors.required_password }}</span>
        {% endif %}
    </div>
    <div class="btn-container">
        <button id="signIn-btn" class="btn-submit" type="submit">Entrar</button>
        {% if user_not_found %}<span class="error">{{ user_not_found }}</span>{% endif %}
    </div>
    <div class="bottom-container">
        Não possui uma conta?<a class="link" href="{% url 'signUp' %}">Cadastre-se</a>
    </div>
</form>
{% endblock %}