{% extends 'organizers/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'organizers/css/auth.css' %}">
{% endblock %}
{% block header %}
Cadastro para Organizadores
{% endblock header %}
{% block content %}
<form id="signUp-form" action="{% url 'signUp' %}" method="POST">{% csrf_token %}
    <div class="form-group">
        <label for="signUp-username">Nome de usuário</label>
        <input placeholder="Ex.: João Silva" id="signUp-username" name="signUp-username" type="text" required>
    </div>
    <div class="form-group">
        <label for="signUp-email">Email</label>
        <input placeholder="exemplo@email.com" id="signUp-email" name="signUp-email" type="email" required>
    </div>
    <div class="form-group">
        <label for="signUp-password">Senha</label>
        <input placeholder="Digite uma senha" id="signUp-password" name="signUp-password" type="password" required>
    </div>
    <div class="btn-container">
        <button class="btn-submit" type="submit">Enviar</button>
    </div>
    <div class="bottom-container">
        Já possui uma conta?<a class="link" href="{% url 'signIn' %}">Entrar</a>
    </div>
</form>
{% endblock %}