{% extends "fields/base.html" %}
{% load static %}
{% block title %}
Sobre
{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'fields/css/about.css' %}">
{% endblock %}
{% block content %}
<section class="about-section">
    <div class="about-container">
        <h1 class="about-title">Sobre o Airsoft Fields</h1>
        <p class="about-description">O <strong>Airsoft Fields</strong> nasceu da paixão pelo esporte Airsoft e da necessidade de uma plataforma centralizada. Nosso objetivo é simples: ser o seu guia definitivo para encontrar campos de Airsoft em todo o Brasil. Chega de buscas em fóruns e redes sociais; aqui, você tem acesso a ferramentas de busca eficientes e informações detalhadas sobre os locais de jogo mais próximos a você.</p>
        
        <p class="about-description">Acreditamos que o acesso fácil aos campos é fundamental para o crescimento da comunidade. Por isso, nossa missão é conectar jogadores de todos os níveis, desde o iniciante que busca seu primeiro campo até o veterano que quer explorar novos territórios. Junte-se a nós e ajude a fortalecer a comunidade de Airsoft no Brasil, um campo de cada vez.</p>
    </div>
</section>
{% endblock %}