{% extends "fields/base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'fields/css/index.css' %}">
{% endblock %}
{% block content %}
<div class="filter-bar">
    <div class="filter-group">
        <label for="field-name">Nome do Campo</label>
        <input type="text" id="field-name" placeholder="Digite o nome">
    </div>
    <div class="filter-group">
        <label for="state">Estado</label>
        <input type="text" id="filter-state" class="input readonly-field" readonly
            placeholder="Selecione">
        <div class="search-state-container" id="search-state-container">
            <input type="text" id="search-state" class="search-input" placeholder="Digite o Estado..."
                autocomplete="off">
            <div id="state-suggestions" class="autocomplete-suggestions"></div>
        </div>
    </div>
    <div class="filter-group">
        <label for="city">Cidade</label>
        <input type="text" id="filter-city" class="input readonly-field" readonly
            placeholder="Selecione" disabled>
        <div class="search-city-container" id="search-city-container">
            <input type="text" id="search-city" class="search-input" placeholder="Digite a cidade..."
                autocomplete="off">
            <div id="city-suggestions" class="autocomplete-suggestions"></div>
        </div>
    </div>
    <div class="filter-group">
        <label for="field-type">Tipo de Campo</label>
        <input type="text" id="field-type" class="input readonly-field" readonly
            placeholder="Selecione">
        <div id="field-type-options" class="options">
            <div class="type-option option">Todos</div>
            <div class="type-option option">CQB</div>
            <div class="type-option option">Mata</div>
            <div class="type-option option">Misto</div>
        </div>
    </div>
    <button id="search-button-filter" class="btn-search">
        <i class="fa-solid fa-magnifying-glass"></i>
    </button>
</div>
<div id="applied-filters-container" class="applied-filters-container"></div>
<div class="fields-container">
    <div class="map-placeholder">
        <p>Lista dos campos</p>
    </div>
</div>
<div class="fields-container">
    <div class="map-placeholder">
        <p>Lista dos campos</p>
    </div>
</div>
{% endblock content %}

{% block javascript %}
<script src="{% static 'fields/js/index.js' %}"></script>
{% endblock %}