{% extends "fields/base.html" %} 
{% load static %} 
{% block script %}
  <script src="{% static 'js/select.js' %}"></script>
  <script src="{% static 'js/messages.js' %}"></script>
  <script src="{% static 'js/modal.js' %}"></script>
  <script src="{% static 'js/index/details_modal.js' %}"></script>
  <script src="{% static 'js/index/filter_tags.js' %}"></script>
  <script src="{% static 'js/index/filters.js' %}"></script>
{% endblock %} 
{% block content %}
<form method="GET" action="{% url 'index' %}" id="filter-form">
  <div class="m-4 md:m-10">
    <div
      class="w-full max-w-5xl mx-auto px-4 md:px-6 py-4 md:py-6 rounded-2xl md:rounded-full bg-gray-50 border border-gray-200 shadow-sm"
    >
      <div
        class="flex flex-col md:flex-row items-stretch md:items-end justify-center gap-4 md:gap-6"
      >
        <div class="flex flex-col w-full md:w-60">
          <label
            for="filter-field-name"
            class="font-semibold text-sm text-gray-700 mb-0.5"
            >Nome do Campo</label
          >
          <div class="relative flex items-center">
            <input
              id="filter-field-name"
              name="field_name"
              type="text"
              class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500"
              placeholder="Digite o nome..."
              value="{{ request.GET.field_name|default:'' }}"
            />
            <button
              type="button"
              class="clear-filter absolute right-1 text-gray-500 rounded-full p-0.25 hover:cursor-pointer hover:text-gray-700 hover:bg-gray-100"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                class="size-4"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6 18 18 6M6 6l12 12"
                />
              </svg>
            </button>
          </div>
        </div>
        <div class="flex flex-col w-full md:w-48 relative">
          <label
            for="filter-field-state"
            class="font-semibold text-sm text-gray-700 mb-0.5"
            >Estado</label
          >
          <div class="flex items-center">
            <input
              id="filter-field-state"
              name="field_state"
              type="text"
              class="w-full field-state px-3 py-2 pr-10 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500"
              placeholder="Digite o estado..."
              autocomplete="off"
              value="{{ request.GET.field_state|default:'' }}"
            />
            <button
              type="button"
              class="clear-filter absolute right-1 text-gray-500 rounded-full p-0.25 hover:cursor-pointer hover:text-gray-700 hover:bg-gray-100"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                class="size-4"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6 18 18 6M6 6l12 12"
                />
              </svg>
            </button>
            <input type="hidden" name="state_abbreviation" class="state-abbreviation" value="{{ request.GET.state_abbreviation|default:'' }}"/>
          </div>
          <div
            class="absolute state-options top-full left-0 right-0 bg-white border border-gray-300 rounded-md shadow-lg max-h-48 overflow-y-auto z-10 hidden mt-1"
          ></div>
        </div>
        <div class="flex flex-col w-full md:w-48 relative">
          <label
            for="filter-field-city"
            class="font-semibold text-sm text-gray-700 mb-0.5"
            >Cidade</label
          >
          <div class="flex items-center">
            <input
              disabled
              id="filter-field-city"
              name="field_city"
              type="text"
              class="w-full field-city px-3 py-2 border border-gray-300 rounded-md disabled:bg-gray-100 disabled:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500"
              placeholder="Digite a cidade..."
              autocomplete="off"
              value="{{ request.GET.field_city|default:'' }}"
            />
            <button
              type="button"
              class="clear-filter absolute right-1 text-gray-500 rounded-full p-0.25 hover:cursor-pointer hover:text-gray-700 hover:bg-gray-100"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                class="size-4"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6 18 18 6M6 6l12 12"
                />
              </svg>
            </button>
          </div>
          <div
            class="absolute city-options top-full left-0 right-0 bg-white border border-gray-300 rounded-md shadow-lg max-h-48 overflow-y-auto z-10 hidden mt-1"
          ></div>
        </div>
        <div class="flex flex-col w-full md:w-48">
          <label
            for="filter-field-type"
            class="font-semibold text-sm text-gray-700 mb-0.5"
            >Tipo de Campo</label
          >
          <select
            id="filter-field-type"
            name="field_type"
            class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500"
          >
          <option value="" {% if not request.GET.field_type %}selected{% endif %}>Selecione</option> 
          <option value="MISTO" {% if request.GET.field_type == 'MISTO' %}selected{% endif %}>Misto</option> 
          <option value="MATA" {% if request.GET.field_type == 'MATA' %}selected{% endif %}>Mata</option> 
          <option value="CQB" {% if request.GET.field_type == 'CQB' %}selected{% endif %}>CQB</option> 
          <option value="SPEED" {% if request.GET.field_type == 'SPEED' %}selected{% endif %}>Speed</option> 
        </select>
        </div>
        <div class="flex flex-col w-full md:w-auto">
          <button
            id="search-button"
            type="submit"
            class="w-full md:w-15 h-12 md:h-15 bg-indigo-600 text-white rounded-md md:rounded-full hover:bg-indigo-700 focus:outline-none hover:cursor-pointer transition-colors flex items-center justify-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 16 16"
              fill="currentColor"
              class="size-5 md:size-7"
            >
              <path
                fill-rule="evenodd"
                d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
                clip-rule="evenodd"
              />
            </svg>
            <span class="md:hidden ml-2">Buscar</span>
          </button>
        </div>
      </div>
    </div>
  </form>
  <div id="filter-tags-container" class="pt-2 max-w-5xl mx-auto flex gap-3">
    {% if applied_filters %}
      {% for filter_name, filter in applied_filters.items %}
        <div class="filter-tag inline-flex items-center gap-1 bg-indigo-100 text-indigo-700 px-2 py-1 rounded-full text-sm font-medium hover:bg-indigo-200 hover:cursor-pointer transition-colors"
          data-filter-name="{{ filter_name }}">
          <span>{{ filter }}</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            class="size-4"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18 18 6M6 6l12 12"
            />
          </svg>
        </div>
      {% endfor %}
    {% endif %}
  </div>
</div>

{% if messages %}
    {% for message in messages %}
          <div class="relative flex items-center justify-center">
            <div class="absolute">
              <div class="flex items-center p-4 pt-2 pb-2 text-sm rounded-lg font-medium message-alert
            {% if message.tags == 'success' %}
               text-green-800 bg-green-50
            {% elif message.tags == 'error' %}
               text-red-800 bg-red-50
            {% elif message.tags == 'info' %}
               text-blue-800 bg-blue-50
            {% endif %}
              " role="alert">
                <svg class="shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                </svg>
                <span class="sr-only">Info</span>
                <div>
                  {{ message }}
                </div>
              </div>
            </div>
          </div>  
    {% endfor %}
{% endif %}

<div class="flex-1 bg-white pt-10 shadow-2xl">
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 max-w-7xl mx-auto pl-6 pr-6 mb-8"
  >
    <!-- Card do Campo 1 -->
    {% if fields %}
      {% for field in fields %}
        <div
          class="bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 overflow-hidden"
        >
          <div class="relative">
            <img
              src="{{ field.photos.first.photo.url }}"
              alt="Campo de Airsoft"
              class="w-full h-48 object-cover"
            />
            <div
              class="absolute top-2 left-2 text-white px-2 py-1 rounded-full text-xs font-semibold
              {% if field.field_type == 'MISTO' %}
              bg-yellow-500
              {% elif field.field_type == 'MATA' %}
              bg-green-600
              {% elif field.field_type == 'CQB' %}
              bg-blue-600
              {% elif field.field_type == 'SPEED' %}
              bg-red-600
              {% endif %}"
            >
              {{ field.get_field_type_display }}
            </div>
          </div>
          <div class="p-4">
            <h3 class="font-semibold text-lg text-gray-800 mb-2">{{ field.field_name }}</h3>
            <p class="text-gray-600 text-sm mb-3 line-clamp-3">
              {{ field.description }}
            </p>
            <p class="text-gray-600 text-sm line-clamp-1">
                <span class="font-semibold text-gray-800 mr-1">
                  Funcionamento:
                </span>
                {{ field.operating_hours }}
            </p>
            <div class="flex items-center justify-between mt-1.25">
              <span class="flex flex-row items-center text-indigo-600 font-semibold text-lg">          <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-5 mr-1"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                />
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z"
                />
              </svg>
              {{ field.city }}, {{ field.state_abbreviation }}</span>
              <button
                data-field-name="{{ field.field_name }}"
                data-field-type="{{ field.get_field_type_display}}"
                data-field-phone="{{ field.phone }}"
                data-field-state="{{ field.state }}"
                data-field-city="{{ field.city }}"
                data-field-address="{{ field.address }}"
                data-field-description="{{ field.description }}"
                data-field-hours="{{ field.operating_hours }}"
                data-field-image-url="{{ field.photos.first.photo.url }}"  
                class="details-field bg-indigo-600 hover:cursor-pointer hover:bg-indigo-700 text-white px-4 py-2 rounded-md text-sm transition-colors"
              >
                Ver Detalhes
              </button>
            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <p class="text-center col-span-3 text-gray-500">Nenhum campo encontrado.</p>
    {% endif %}
  </div>
  <!-- Pagination -->
  {% if fields.paginator.num_pages > 1 %}
    <nav class="pagination mb-8 flex gap-2 justify-center items-center ">
    <a href="?{% if fields.has_previous %}{{ base_qs }}page={{ fields.previous_page_number }}{% endif %}"
       class="rounded-full flex items-center justify-center h-8 w-8
              {% if fields.has_previous %}hover:bg-indigo-300/35 text-gray-800{% else %}cursor-not-allowed text-gray-400{% endif %}">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
           stroke-width="2.25" stroke="currentColor" class="size-5">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
      </svg>
    </a>

    {% if fields.number > 2 %}
      <a href="?{{ base_qs }}page=1"
         class="font-medium text-gray-800 rounded-full flex items-center justify-center h-8 w-8 hover:bg-indigo-300/35">1</a>
      {% if fields.number > 3 %}
        <span class="font-medium text-gray-800">...</span>
      {% endif %}
    {% endif %}

    {% if fields.number > 1 %}
      <a href="?{{ base_qs }}page={{ fields.number|add:"-1" }}"
         class="font-medium text-gray-800 rounded-full flex items-center justify-center h-8 w-8 hover:bg-indigo-300/35">
        {{ fields.number|add:"-1" }}
      </a>
    {% endif %}

    <span class="font-medium rounded-full flex items-center justify-center h-8 w-8 bg-indigo-600 text-white">
      {{ fields.number }}
    </span>

    {% if fields.number < fields.paginator.num_pages %}
      <a href="?{{ base_qs }}page={{ fields.number|add:1 }}"
         class="font-medium text-gray-800 rounded-full flex items-center justify-center h-8 w-8 hover:bg-indigo-300/35">
        {{ fields.number|add:1 }}
      </a>
    {% endif %}

    {% if fields.number < fields.paginator.num_pages|add:"-1" %}
      {% if fields.number < fields.paginator.num_pages|add:"-2" %}
        <span class="font-medium text-gray-800">...</span>
      {% endif %}
      <a href="?{{ base_qs }}page={{ fields.paginator.num_pages }}"
         class="font-medium text-gray-800 rounded-full flex items-center justify-center h-8 w-8 hover:bg-indigo-300/35">
        {{ fields.paginator.num_pages }}
      </a>
    {% endif %}

    <a href="?{% if fields.has_next %}{{ base_qs }}page={{ fields.next_page_number }}{% endif %}"
       class="rounded-full flex items-center justify-center h-8 w-8
              {% if fields.has_next %}hover:bg-indigo-300/35 text-gray-800{% else %}cursor-not-allowed text-gray-400{% endif %}">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
           stroke-width="2.25" stroke="currentColor" class="size-5">
        <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
      </svg>
    </a>
    </nav>
  {% endif %}
</div>

<div id="details-modal" class="hidden modal-bg close-modal fixed inset-0 bg-gray-900/50 z-50 flex items-center justify-center">
  <div class="bg-white rounded-lg shadow-xl w-full max-w-3xl max-h-[90vh] overflow-y-auto scrollbar-hidden mx-4">
    <!-- Header -->
    <div class="">
      <div class="relative">
        <img
          src=""
          alt="Campo de Airsoft"
          class="w-full h-52 object-cover"
          id="details-field-image"  
        />
        <div
          class="absolute top-2 left-2 text-white px-2 py-1 rounded-full text-sm font-semibold" id="details-field-type"
        >
        </div>
      </div>
    </div>

    <!-- Body -->
    <div class="p-4 sm:p-6 space-y-6">
      <!-- Section: Informações Básicas -->
      <div>
        <h4 class="text-base font-semibold text-gray-800 mb-3 pb-2 border-b border-gray-200">
          Informações Básicas
        </h4>
        <div class="space-y-4">
          <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
            <!-- Nome do Campo -->
            <div class="form-item relative">
              <label class="block text-sm font-semibold text-gray-700 mb-1.5">
                Nome do Campo
              </label>
              <p class="text-gray-800 text-sm" id="details-field-name"></p>
            </div>
            <!-- Telefone -->
            <div class="form-item relative">
              <label class="block text-sm font-semibold text-gray-700 mb-1.5">
                Telefone
              </label>
              <p class="text-gray-800 text-sm" id="details-field-phone"></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Section: Localização -->
      <div>
        <h4 class="text-base font-semibold text-gray-800 mb-3 pb-2 border-b border-gray-200">
          Localização
        </h4>
        <div class="space-y-4">
          <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
            <!-- Estado -->
            <div class="form-item relative">
              <label class="block text-sm font-semibold text-gray-700 mb-1.5">
                Estado
              </label>
              <p class="text-gray-800 text-sm" id="details-field-state"></p>
            </div>

            <!-- Cidade -->
            <div class="form-item relative">
              <label class="block text-sm font-semibold text-gray-700 mb-1.5">
                Cidade
              </label>
              <p class="text-gray-800 text-sm" id="details-field-city"></p>
            </div>
        </div>
          <!-- Endereço -->
          <div class="form-item relative">
            <label class="block text-sm font-semibold text-gray-700 mb-1.5">
              Endereço
            </label>
            <p class="text-gray-800 text-sm" id="details-field-address"></p>
          </div>
        </div>
      </div>

      <!-- Section: Detalhes -->
      <div>
        <h4 class="text-base font-semibold text-gray-800 mb-3 pb-2 border-b border-gray-200">
          Detalhes do Campo
        </h4>
        <div class="space-y-4">
          <!-- Descrição -->
          <div class="form-item relative">
            <label class="block text-sm font-semibold text-gray-700 mb-1.5">
              Descrição
            </label>
            <p class="text-gray-800 text-sm" id="details-field-description"></p>
          </div>

          <!-- Horário -->
          <div class="form-item relative">
            <label class="block text-sm font-semibold text-gray-700 mb-1.5">
              Horário de Funcionamento
            </label>
            <p class="text-gray-800 text-sm" id="details-field-hours"></p>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <div class="bg-white p-4 sm:p-6 border-t border-gray-200 flex flex-col-reverse sm:flex-row gap-2 sm:gap-3 sm:justify-end">
      <button
        type="button"
        class="close-modal w-full sm:w-auto px-4 py-2.5 border border-gray-300 text-gray-700 rounded-lg hover:bg-gray-100 hover:cursor-pointer transition-colors font-medium text-sm"
      >
        Fechar
      </button>
    </div>
  </div>
</div>
{% endblock %}
